/**
 * Reset CSS
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Classes globais
 */
.wrap-footer {
	min-height: 100%;
	margin-bottom: -105px;
}
.wrap-footer::after {
	content: "";
	display: block;
	height: 105px;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.ie6 .cf,
.ie7 .cf {
    zoom: 1;
}


/**
 * Body
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
}

/**
 * Modulos
 */
.side-content, .the-map {
	height: 100%;
	max-height: 100%;
}

/* Side content */
.side-content {
	width: 20%;
	float: left;
	padding: 1.3%;
}

/* Btns */
.btn {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	background: #4C9BD6;
	padding: 10px 0;
	margin: 10px 0;
	color: #FFF;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;

	-webkit-transition: letter-spacing .3s;
	transition: letter-spacing .3s;
}

.btn:hover {
	letter-spacing: 1.5px;
}

/**
 * Map
 */
.the-map {
	width: 60%;
	height: 100%;
	overflow: hidden;
	float: left;
}

/**
 * User content
 */
.user-content {
	background: #213246;
	box-shadow: #2a3b4f 1px p1x inset, #0a1c32 -1px -1px inset;
	color: #95a3b1;
}

.user-id, .user-follows, .user-info {
	margin-bottom: 10%;
}

/* User ID */
.user-id {

}

.user-avatar, .user-names {
	float: left;
}

/* Avatar */
.user-avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	box-shadow: #0e1f33 1px 1px;

	max-width: 100%;
	height: auto;
	margin-right: 5%;
	width: 20%;
}

/* User's names */
.user-names {
	width: 75%;
	letter-spacing: 1px;
	position: relative;
}

.user-id:hover .user-name {
	opacity: 0;
	-webkit-transform: translateX(-5px);
}

.user-id:hover .user-screen-name {
	opacity: 1;
	-webkit-transform: translateX(0px);
}

.user-name, .user-screen-name {
	line-height: 46px;
	height: 46px;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.user-name {
}

.user-screen-name {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transform: translateX(5px);
}

/**
 * User follows
 */
.user-follows {
	border-top: 1px solid #16272e;
	box-shadow: #24364e 0 2px, #24364e 0 2px inset;
}

.user-follows li {
	float: left;
	width: 50%;
	text-align: center;
	color: #e8f5fe;
	padding: 10px 0;
	border-right: 1px solid #16272e;
	border-bottom: 1px solid #16272e;
	font-size: 14px;
}
.user-follows li:nth-child(2n+0) {
	border-right: 0;
}

.user-follows span {
	color: #4c5e72;
	font-weight: 100;
	line-height: 20px;
}

/**
 * User Info
 */
.user-info {
	text-align: center;
}

.user-info li {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
}

/**
 * Tweets content
 */
.tweets-content {
	background: #f5f6f8;
	overflow: auto;
}

.section-title {
	text-transform: uppercase;
	font-size: 12px;
	color: #a9aaac;
	text-shadow: #FFF 1px 1px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8e9eb;
	letter-spacing: 1px;
	font-weight: 400;
}

.tweets-section {

}

.tweet {
	text-decoration: none;
	display: block;
	font-size: 12px;
	border-bottom: 1px solid #e8e9eb;
	padding: 20px 10px;

	-webkit-transition: all .3s;
	transition: all .3s;
}

.tweet:hover {
	background: #FFF;
}

.tweet:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.tweet-text {
	color: #394752;
	line-height: 18px;
	margin-bottom: 5px;
}

.tweet-time {
	color: #b5b6b8;
	text-shadow: #FFF 1px;
	font-size: 11px;
	line-height: 16px;
}

.tweet-time strong {
	color: #92c3ec;
}

/**
 * Modal
 */
.modal {
	position: fixed;
	top: 0;
	left: 20%;
	right: 20%;
	bottom: 0;
	z-index: 9999;
	background: rgba(255,255,255,.7);
	opacity: 0;
	z-index: -1;

	-webkit-transition: all .3s;
	transition: all .3s;

	-webkit-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
}

.modal.opened {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

	opacity: 1;
	z-index: 9999;
}

.modal.closed {
	-webkit-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
	opacity: 0;
	z-index: -1;
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	width: 40px;
	height: 40px;
	background: #FFF;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	font-size: 20px;
	border-radius: 50%;
	border: 1px solid #c6c7c9;
	color: #bdbec0;
	text-shadow: #FFF 1px 1px;

	-webkit-transition: all .3s;
	transition: all .3s;
}
.modal-close:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

	background: #f5f6f8;
}

.modal-content {
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	background: #FFF;
	max-height: 100%;
	overflow: auto;
}

.modal-content > * {
	margin-bottom: 20px;
}

.modal-content h1 { font-size: 30px; }
.modal-content h2 { font-size: 28px; }
.modal-content h3 { font-size: 26px; }
.modal-content h4 { font-size: 24px; }
.modal-content h5 { font-size: 22px; }
.modal-content h6 { font-size: 20px; }

.modal-content a {
	text-decoration: none;
	color: #4C9BD6;
	padding: 0 3px;
	margin-left: -3px;

	-webkit-transition: all .3s;
	transition: all .3s;
}
.modal-content a:hover { background: #4C9BD6; color: #FFF; }

.modal-content p, .modal-content li {
	font-size: 14px;
	line-height: 18px;
}

.modal-content ol, .modal-content ul {
	padding-left: 15px;
}

.modal-content ul {
	list-style-type: disc;
}

.modal-content ol {
	list-style-type: decimal;
}

.modal-content li {
	margin-bottom: 5px;
}

.modal-content img {
	max-width: 100%;
	height: auto;
}